Backend/node_modules
Backend/.env
Admin/node_modules
Admin/.pnp
Admin/.pnp.js

# testing
Admin/coverage

# production
Admin/build

# misc
Admin/.DS_Store
Admin/.env.local
Admin/.env.development.local
Admin/.env.test.local
Admin/.env.production.local

Admin/npm-debug.log*
Admin/yarn-debug.log*
Admin/yarn-error.log*

User/node_modules
User/.pnp
User/.pnp.js

# testing
User/coverage

# production
User/build

# misc
User/.DS_Store
User/.env.local
User/.env.development.local
User/.env.test.local
User/.env.production.local

User/npm-debug.log*
User/yarn-debug.log*
User/yarn-error.log*

Videos
frontend2/node_modules