.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  width: 38.5rem;
  padding: 3.2rem 1rem;
  gap: 1rem;

  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
}
