.button {
  display: flex;
  height: 5.6rem;
  padding: 1rem 2.2rem;
  align-items: center;
  gap: 1rem;
  border-radius: 1.2rem;
  background: #2f80ed;
  transition: all 0.2s ease-in-out;
  user-select: none;
}
.icon {
  height: 2.4rem;
  width: 2.4rem;
}
.icon > svg {
  height: 100%;
  width: 100%;
}
.text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 131.25% */
  letter-spacing: 0.1px;
}
.button:hover {
  background: #2179ec;
  cursor: pointer;
}
.button:active {
  background: #1a64d1;
  cursor: pointer;
}
.disabled {
  background: #b0b0b0;
  cursor: not-allowed;
}
.disabled:hover {
  background: #b0b0b0;
  cursor: not-allowed;
}
